/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
	color: #444444;
	margin-left: 8px;
}

.fb {
	padding-top: 5px;
}

.li {
	float: left;
	padding-right: 15px;
}

.logo {
	height: 140px;
	width: 140px;
}

p {
	line-height: 2rem;
}

.sidenav-trigger {
	color: #26a69a;
}

.parallax-container {
	min-height: 380px;
	line-height: 0;
	height: auto;
	color: rgba(255, 255, 255, .9);
}
.parallax-container .section {
	width: 100%;
}

th {
	font-weight: bold;
	text-align: center;
}

td {
	text-align: center;
}

#map {
	margin: 0 auto;
}

.modal {
	max-height: 90%;
}

.modal-form-row {
	margin-bottom: 0px;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

@media only screen and (max-width: 992px) {
	.parallax-container .section {
		position: absolute;
		top: 40%;
	}
	#index-banner .section {
		top: 10%;
	}
}

@media only screen and (max-width: 728px) {
	#map {
		width: 100%!important;
	}
}

@media only screen and (max-width: 600px) {
	#index-banner .section {
		top: 0;
	}

	img.logo {
		height: 130px;
		width: 130px;
	}

	.dropdown-menu {
		display: none;
	}

	.icon-block {
		width: 100%;
	}

	#map {
		width: 100%!important;
	}
}

@media only screen and (min-width: 600px) {
	.mobile-sidenav {
		display: none;
	}
}

.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.explanation {
	font-size: 1.25em;
}

footer.page-footer {
	margin: 0;
}
